# client side
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
client/dist
client/tmp
client/out-tsc
client/bazel-out

# Node
client/node_modules
client/npm-debug.log
client/yarn-error.log

# IDEs and editors
client/.idea/
client/.project
client/.classpath
client/.c9/
client/*.launch
client/.settings/
client/*.sublime-workspace

# Visual Studio Code
client/.vscode/*

# Miscellaneous
client/.angular/cache
client/.sass-cache/
client/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
client/typings

# System files
client/.DS_Store
client/Thumbs.db

#server
# compiled output
server/dist
server/node_modules

# Logs
server/logs
server/*.log
server/npm-debug.log*
server/pnpm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*

# OS
server/.DS_Store

# Tests
server/coverage
server/.nyc_output

# IDEs and editors
server/.idea
server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings/
server/*.sublime-workspace

# IDE - VSCode
server/.vscode/*

# Solidity
solidity/*
